.horizontal_bar {
  border-radius: 9999px;
  position: fixed;
  bottom: 4.5rem;
  left: 23%;
  width: 50%;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (max-width: 1024px) {
  .horizontal_bar {
    bottom: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .horizontal_bar {
    bottom: 2.5rem;
  }
}

.horizontal_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}

.horizontal_button_wrapper > button {
  display: inline-flex;
  background-color: #fff;
  border: none;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  border-radius: 9999px;
}

.horizontal_button_wrapper > button:hover {
  scale: 1.25;
  transition-duration: 0.25s;
}

.horizontal_button_wrapper img {
  height: 1.25rem;
  width: 1.25rem;
}
